*::-webkit-scrollbar
  width: 0px
  height: 0px
.announcement_content
  font-family: SignaritaZhai
  padding-top: 10px
#site-subtitle
  font-family: 'hdjxingshu246788450422a60'
.footer_custom_text
  font-family: 'hdjxingshu246788450422a60'
.author-info__description
  font-family: 'hdjxingshu246788450422a60' !important
  font-size: 16px